html,
body {
  background: #202020;
  padding:5px;
  margin:0;
  box-sizing: border-box
}

textarea {
  box-sizing: border-box;
  margin:0;
  width: 100%;
  min-height: 250px;
  border: 2px solid #04829B;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  outline: none
}

#res {
  pointer-events: none
}

#msg {
  opacity: 0;
  color: #fff;
}

button {
  float: right;
  margin: 5px
}